name: dotnet package

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: ['3.1.x']

    steps:
      - uses: actions/checkout@v2
      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
      - run: |
          dotnet clean ${{ github.workspace }} -o /bin/Debug/netcoreapp3.1/package
          dotnet build ${{ github.workspace }} -o /bin/Debug/netcoreapp3.1/package
          dotnet pack --no-build --no-restore ${{ github.workspace }} -o /bin/Debug/netcoreapp3.1/package
      - uses: actions/upload-artifact@v1
        with:
          name: nuget
          path: ${{ github.workspace }} -o /bin/Debug/netcoreapp3.1/package
        name: 'Upload Package'
